body {
    background-color: #E8D1C3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a88d7d;
    color: white;
    padding: 10px 20px;
    border-radius: 9px;
}

.logo img {
    margin: 0;
    border-radius: 50%;
    padding: 4px;
    height:175px;
    border: #d1b5a3 solid;
}

.login-button button {
    background-color: #FFFFFF;
    color: black;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 25px;
}

nav {
    background-color: #d1b5a3;
    padding: 9px;
    border-radius: 16px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px; 
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    
}

nav ul li a:hover {
    background-color: #e0c9bc;
    border-radius: 5px;
    padding: 15px;
    border: 2px solid #e0c9bc;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #a88d7d;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
table{
    width: 74%; 
    border-collapse: collapse;
    background-color: #e0c9bc;
    height: 300px;
    text-align: center;
    border-radius: 10px;
}

p{
     text-align: justify;
     font-family: Arial, Helvetica, sans-serif;
 
}

h1{
    color: #302c2c;
}

.form-container {
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    backdrop-filter: blur(4px);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 35px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 280px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container input[type="submit"] {
    background-color: #e2c9ba;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.form-container input[type="submit"]:hover {
    background-color: #e4af8e;
}

.form-container .checkbox {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.form-container .checkbox input {
    margin-right: 5px;
}
.quadrinho p{
    text-align: center;
}

.quadrinho table{
    width: 100%;
    max-width: 450px;
    text-align: center;
}

.quadrados table{
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
}

.quadrados p{
    margin: 9px;
    text-align: center;
}

.quadrados h3{
    font-family: 'Times New Roman', sans-serif;
    text-align: center;
}

.cabeca1 p{
    text-align: center;
    margin: 2px;
}

.saibamais button{
    align-items: center;
    margin: 10px;
    padding: 7px;
    border-radius: 8px;
    color: black;
    background-color: #d1b5a3   ;
}


table{
    background-color: #E8D1C3; 
    border-radius: 10px;
}

.portifolio{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.portifolio table{
    margin: 40px;
    align-items: center;
}

.portifolio img{
    margin: 5px;
    align-items: center;
}

.sobre table{
    width: 100%;
    max-width: 820px;
    margin: 9px;
    
}

.sobre p{
    margin: 9px;
    font-family: Arial, Helvetica, sans-serif;
}

.sobre h1{
    font-family: Arial, Helvetica, sans-serif;
}

.sobre legend{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset{
    border-radius: 10px;
}

 /* Estilo para os blocos de pagamento */
 .payment-option {
    border: 1px solid #ccc;
    padding: 20px;
    width: 90%;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Efeito de hover para todas as opções de pagamento */
.payment-option:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.1);
}

.forms-contato{
    max-width: 360px;
    margin: auto;
    background: #E8D1C3;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-height: 400px;
}

.forms-contato h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

.forms-contato label {
    display: block;
    margin-bottom: 5px;
}

.forms-contato input[type="text"],
.forms-contato input[type="email"],
.forms-contato textarea {
    width: 340px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forms-contato button {
    background-color: #d1b5a3;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.forms-contato button:hover {
    background-color: #e4af8e;
}

.forms-contato input[type="submit"] {
    background-color: #d1b5a3;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.forms-contato input[type="submit"]:hover {
    background-color: #e4af8e;
}

footer{
    background-color: #E8D1C3;
}